:root {
    --color-white: #FFF;
    --color-paragraph: rgb(126, 123, 123);
    --color-background: hsl(30, 38%, 92%);
    --color-ocean: hsl(158, 36%, 37%);
    --color-dark-ocean: hsl(158, 36%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--color-background);
    display: flex; /* Quebra linha */
    align-items: center; /* alinha ao centro verticalmente */
    justify-content: center; /* alinha ao centro horizontalmente */
}

h4 {
    font-size: 30px;
    font-family: "Fraunces";
}

p {
    font-family: "Montserrat";
    font-size: 14px;
    color: var(--color-paragraph);
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    background-color: var(--color-ocean);
    color: var(--color-white);
    padding: 10px 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* usar apenas quando tiver display: flex */
}

a:hover {
    background-color: var(--color-dark-ocean);
}

.uppercase {
    text-transform: uppercase;
}

.content {
    display: flex;
    max-width: 600px;
    width: 100%;
}

.img-perfum,
.description {
    width: 50%;
}

.img-perfum {
    display: block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.description {
    background: var(--color-white);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 20px;
}

.text {
    line-height: 24px;
}

.perfum {
    letter-spacing: 4px;
}

.values {
    display: flex;
    align-items: center;
    gap: 20px;
}

.price {
    font-size: 30px;
    color: var(--color-ocean);
    font-family: "Fraunces";
}

.second-price {
    text-decoration: line-through;
}

/* Responsive layout */
@media (max-width: 600px) {
    body {
        padding: 16px;
    }

    h4 {
        line-height: 32px;
    }

    a {
        border-radius: 8px;
        font-size: 14px;
        padding: 13px 20px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-perfum,
    .description {
        width: 100%;
    }

    .img-perfum {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        height: 250px;
        object-fit: cover;
    }

    .description {
        padding: 20px;
        gap: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .perfum {
        font-size: 12px;
    }

    .second-price {
        font-size: 12px;
    }
}