* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px;
    background: hsl(30, 38%, 92%);
    display: flex; /* Quebra linha */
    align-items: center; /* alinha ao centro verticalmente */
    justify-content: center; /* alinha ao centro horizontalmente */
}

p {
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(126, 123, 123);
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    padding: 10px 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* usar apenas quando tiver display: flex **/
}

a:hover {
    background-color: hsl(158, 36%, 20%);
}

.uppercase {
    text-transform: uppercase;
}

.conteudo {
    display: flex;
    max-width: 1440px;
    width: 100%;
}

.img-perfume,
.descriçao {
    width: 50%;
}

.img-perfume {
    display: block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.descriçao {
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 20px;
}

.descriçao-perfume {
    font-size: 30px;
    font-family: "Fraunces";
}

.texto {
    line-height: 24px;
}

.perfume {
    letter-spacing: 4px;
}

.valores {
    display: flex;
    align-items: center;
    gap: 20px;
}

.preço {
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
}

.preço2 {
    text-decoration: line-through;
}


/* Responsive layout */

@media (max-width: 600px) {
    .perfume {
        font-size: 12px;
    }
    
    .conteudo {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-perfume,
    .descriçao {
        width: 100%;
    }

    .img-perfume {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        height: 250px;
        object-fit: cover;
    }

    .descriçao {
        padding: 20px;
        gap: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    a {
        border-radius: 8px;
        font-size: 12px;
        padding: 13px 20px;
    }
}